/* Page styling */
.wrapper{
  display:grid;
  grid-template-columns: 100%;
  grid-gap: 1px;
  font-family: Arial;
  min-width: 700px;
  padding: .1em;
}
.header{
  background:#eee;
  padding: 1em;
  text-align: center;
}
.header > div{
  position: absolute;
  left: 0px;
  width: 200px;
  padding: 1em;
}
.header > h1{
  position: absolute;
  font-family: "Courier New";
  top: 20px;
  right: 20px;
  padding: 1em;
}
.description{
  padding: 1em;
  text-align: center;
}

/* KPI grid styling */
.kpis{
  display:grid;
  background:#eee;
  grid-template-columns:repeat(4, 1fr);
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
}

/* KPI world styling */
.kpititle > h1{
  color: blue;
}
.kpi{
  border:#333 1px solid;
  text-align: center;
  font-size: 120%;
  width: 200px;
  padding-left: .1em;
  padding-right: .1em;
  margin-left: auto;
  margin-right: auto;
}
.kpi > h1{
  font-family: "Courier New";
}

/* KPI region styling */
.regtitle{
  padding: .1em;
  text-align: right;
}
.kpiregion{
  border:#333 1px solid;
  text-align: center;
  font-size: 75%;
  width: 160px;
  padding: .2em;
  margin-left: auto;
  margin-right: auto;
}
.kpiregion > h1{
  font-family: "Courier New";
}

/* KPI colors */
.kpi_error{
  font-family: "Courier New";
  font-size: 50%;
}
.kpi_yellow{
  background-color: yellow;
  color: black;
}
.kpi_green{
  background-color: green;
  color: white;
}
.kpi_red{
  background-color: red;
  color: white;
}

/* Item used to open and close the collapsible content */
.expand_control {
  background-color: #eee;
  color: #444;
}
.active, .collapsible:hover {
  background-color: #ddd;
}

/* Expandable content */
.expand_content {
  display: none;
  overflow: hidden;
}

/* Dropdown control */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element: */
}
.select-selected {
  background-color: DodgerBlue;
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Conifguration items */
.config-items > p{
  font-family: "Courier New";
  text-align: left;
}