.wrapper{
  display:grid;
  grid-template-columns: 100%;
  grid-gap: 1px;
  font-family: Arial;
  min-width: 700px;
  padding: .1em;
}
.header{
  background:#eee;
  padding: 1em;
  text-align: center;
}
.header > div{
  position: absolute;
  left: 0px;
  width: 200px;
  padding: 1em;
}
.description{
  padding: 1em;
  text-align: center;
}
.kpis{
  display:grid;
  background:#eee;
  grid-template-columns:repeat(4, 1fr);
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
}
.kpititle > h1{
  color: blue;
}
.kpi{
  border:#333 1px solid;
  text-align: center;
  font-size: 120%;
  width: 200px;
  padding-left: .1em;
  padding-right: .1em;
  margin-left: auto;
  margin-right: auto;
}
.kpi > h1{
  font-family: "Courier New";
}
.kpi_error{
  font-family: "Courier New";
  font-size: 50%;
}
.kpi_yellow{
  background-color: yellow;
  color: black;
}
.kpi_green{
  background-color: green;
  color: white;
}
.kpi_red{
  background-color: red;
  color: white;
}