<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Virus Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="wrapper">

        <div class="header">

        <div>
            <img src="{{ logo }}" style="width:{{ logosize[0] }}px;height:{{ logosize[1] }}px;">
        </div>

        <h2>Virus Tracker</h2>
                
        <h4><p>Date: <span id="datetime"></span></p>
        <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h4>

        </div>

        <div class="description">

            This <a href=".">page</a> provides virus tracking information for the world and select countries for <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen" target="_blank">COVID-19</a> using the public <a href="{{ apiroot }}" target="_blank">API</a> provided by <a href="http://mathdro.id" target="_blank">Muhammad Mustadi</a>.
            
        </div>

        <div class="description">
            
            <p>For an overview of exactly what COVID-19 is and how is spreads, watch this...</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/BtN-goy9VOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

        <div class="description">

            <h4>Contact for questions at <a href="mailto: {{ email }}">Support</a></h4>

        </div>

    </div>
</body>
</html>