<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Virus Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <div class="wrapper">

        <div class="header">

            <h2>ERROR</h2>
            
            <h1><a href="status">i</a></h1>
                
            <h4><p>Date: <span id="datetime"></span></p>
            <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h4>

        </div>

        <div class="description">

            <a href="https://support.microsoft.com/en-us/help/17454/lifecycle-faq-internet-explorer-and-edge">Internet Explorer</a> is not supported for this site, you must use a modern web browser such as <a href="https://www.google.com/chrome">Chrome</a> or <a href="https://www.microsoft.com/en-us/edge">Edge Chromium</a>.

        </div>

    </div>
</body>
</html>