<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Virus Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Created by Bill Dykema - https://github.com/DykemaBill
    MIT License 2020 - https://mit-license.org -->
    <div class="wrapper">

        <div class="header">

        <div>
            <img src="{{ logo }}" style="width:{{ logosize[0] }}px;height:{{ logosize[1] }}px;">
        </div>

            <h2>NOTICE</h2>
                
            <h4><p>Date: <span id="datetime"></span></p>
            <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h4>

        </div>

        <div class="description">

            We are performing some maintenance tasks.
            <br><br>
            Thank you for your patience!

        </div>

        <div class="description">

            <h4>Information <a href="about">about</a> this page</h4>
            <p>Copyright © 2020 <a href="https://github.com/DykemaBill">Bill Dykema</a>, 
            <a href="https://mit-license.org">MIT License 2020</a></p>

        </div>

    </div>
</body>
</html>