<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="3600">
    <title>Virus Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="wrapper">

        <!-- Header area here -->
        <div class="header">

        <div>
            <img src="{{ logo }}" style="width:150px;height:122px;">
        </div>

            <h2>Virus Tracker</h2>
        
            <h4><p>Date: <span id="datetime"></span></p>
            <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h4>

        </div>

        <div class="description">

            This page provides virus tracking information for the world and select countries for <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen" target="_blank">COVID-19</a>.

        </div>

        <!-- World data here -->
        <div class="title">
            <h1>World</h1>
            <h5>Last Updated (GMT): {{ virusdata_world_updated }}</h5>
        </div>
        <div class="kpis">
            <div class="kpi_yellow">
                <p>Confirmed</p>
                <h1>{{ virusdata_world_confirmed }}</h1>
                {% if virusdata_world_confirmed_updated == False %}
                <p class="kpi_error">not updated</p>
                {% else %}
                    {% if virusdata_world_confirmed == 0 %}
                    <p class="kpi_error">data error</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="kpi_green">
                <p>Recovered</p>
                <h1>{{ virusdata_world_recovered }}</h1>
                {% if virusdata_world_recovered_updated == False %}
                <p class="kpi_error">not updated</p>
                {% else %}
                    {% if virusdata_world_recovered == 0 %}
                    <p class="kpi_error">data error</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="kpi_red">
                <p>Deaths</p>
                <h1>{{ virusdata_world_deaths }}</h1>
                {% if virusdata_world_deaths_updated == False %}
                <p class="kpi_error">not updated</p>
                {% else %}
                    {% if virusdata_world_deaths == 0 %}
                    <p class="kpi_error">data error</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% for country_data in countries_data %}
        <!-- {{ country_names[loop.index-1] }} data here -->
        <div class="title">
            <h1>{{ country_names[loop.index-1] }}</h1>
            <h5>Last updated (GMT): {{ country_data['virusdata_updated'] }}</h5>
        </div>
        <div class="kpis">
            <div class="kpi_yellow">
                <p>Confirmed</p>
                <h1>{{ country_data['virusdata_confirmed']['value'] }}</h1>
                {% if country_data['virusdata_confirmed']['value'] == 0 %}
                <p class="kpi_error">possible data error</p>
                {% endif %}
            </div>
            <div class="kpi_green">
                <p>Recovered</p>
                <h1>{{ country_data['virusdata_recovered']['value'] }}</h1>
                {% if country_data['virusdata_recovered']['value'] == 0 %}
                <p class="kpi_error">possible data error</p>
                {% endif %}
            </div>
            <div class="kpi_red">
                <p>Deaths</p>
                <h1>{{ country_data['virusdata_deaths']['value'] }}</h1>
                {% if country_data['virusdata_deaths']['value'] == 0 %}
                <p class="kpi_error">possible data error</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- Embedded map here -->
        <div class="title">
            <h1>World Map</h1>
        </div>
        <div class="header">
            <a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank"><iframe width="660" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="2019-nCoV" src="http://gisanddata.maps.arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c&extent=-170,75,170,-60&zoom=true&previewImage=false"></iframe></a>
            <h5>Credit: <a href="https://coronavirus.jhu.edu" target="_blank">Johns Hopkins Center for Systems Science and Engineering</a></h5>
        </div>

        <div class="description">

            <h4>Information <a href="about">about</a> this page</h4>

        </div>

    </div>
</body>
</html>