<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Virus Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
</head>
<body>
    <font face="arial">
        <div class="wrapper">
    
            <img src="{{ logo }}" style="width:300px;height:243px;">
    
            <div>
                
                <center>
                    <H1>Virus Tracker</H1>
                
                    <h3><p>Date: <span id="datetime"></span></p>
                    <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h3>
                </center>
    
            </div>
    
            <div>
    
                This page provides virus tracking information for the world and select countries for <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen" target="_blank">COVID-19</a>.
    
            </div>
    
            <div>
    
                <!-- World data here -->
                Location: World<br>
                Confirmed: {{ virusdata_world_confirmed }}<br>
                Recovered: {{ virusdata_world_recovered }}<br>
                Deaths: {{ virusdata_world_deaths }}<br>
                Last Updated (GMT): {{ virusdata_world_updated }}
    
            </div>

            {% for country_data in countries_data %}
            <div>
            
                <!-- Country data here -->
                Location: {{ country_names[loop.index-1] }}<br>
                Confirmed: {{ country_data['virusdata_confirmed']['value'] }}<br>
                Recovered: {{ country_data['virusdata_recovered']['value'] }}<br>
                Deaths: {{ country_data['virusdata_deaths']['value'] }}<br>
                Last updated (GMT): {{ country_data['virusdata_updated'] }}<br>

            </div>
            {% endfor %}

            <div>
    
                <h3>Information <a href="about">about</a> this page</h3>
    
            </div>
    
        </div>
    </font>
</body>
</html>