<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Virus Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <div class="wrapper">

        <div class="header">

            <h2>Status</h2>
                
            <h4><p>Date: <span id="datetime"></span></p>
            <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h4>

        </div>

        <div class="description config-items">

            <h4>The server this app is running on is:</h4>

            <p>{{ running_host }}</p>

            <h4>The operating system this app is running on is:</h4>
            
            <p>{{ running_os }}</p>

            <h4>The hardware this app is running on:</h4>

            <p>{{ running_hardware }}</p>

            <h4>The Python version this app is running on is:</h4>

            <p>{{ running_python }}</p>

            <h4>Here is what is in the configuration file:</h4>

            <pre>{{ config_data }}</pre>

            <h4>Here is what is in the most recent log file:</h4>

            <pre>{{ log_data }}</pre>

        </div>

    </div>
</body>
</html>